<div
  class="bg-cover h-screen border border-b-2 border-b-gray-50 pt-20 sm:pt-0"
  style="background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%)"
>
  <app-navbar></app-navbar>

  <div
    class="h-5/6 px-4 mt-12 sm:mt-28 md:px-28 md:mt-28 lg:mt-6 grid grid-rows-3 grid-flow-col gap-4"
  >
    <div class="px-4 py-2 shadow-md sm:col-span-2 lg:row-span-2 rounded">
      <div class="flex place-content-center">
        <h1 class="text-center">aqui viene la figura 3D</h1>
      </div>
    </div>
    <div class="px-4 py-2 shadow-md sm:col-span-2 rounded grid items-center">
      <h1 class="sm:text-2xl font-medium tracking-tighter text-base">
        Un buen cafe te alegra el dia <br />
        <p class="font-light">
          Mas de 1000 clientes satisfechos con nuestro servicio.
        </p>
      </h1>
    </div>
    <div
      class="px-4 py-2 shadow-md sm:col-span-2 lg:row-span-3 bg-gray-300 rounded bg-cover bg-center"
      style="
        background-image: url('../../../assets/img/pexels-ekrulila-2293367.jpg');
      "
    ></div>
  </div>
</div>

<div
  class="w-full grid place-content-center h-20 border border-b-2 border-transparent border-b-gray-50"
>
  <div>
    <h1 class="italic font-light text-sm sm:text-md text-center">
      "No es que el café me de insomnio, es que me hace soñar despierto."
    </h1>
    <h1 class="text-center text-sm text-gray-900 font-medium">Rune</h1>
  </div>
</div>

<div>
  <div
    class="w-full grid sm:grid-cols-2 md:grid-cols-3 place-items-center px-4 py-2 gap-4"
  >
    <div
      class="w-full h-24 grid grid-cols-3 bg-gray-50 border-b-2 shadow-md shadow-[#e9defa] hover:bg-gray-100"
    >
      <div class="w-full grid place-content-center col-span-2 px-2 py-3">
        <h1 class="text-left text-gray-900 font-medium">
          Nuestros mejores cafes
        </h1>
        <h2 class="text-left text-gray-700 text-sm">
          Solo se encuentran a un click de ti revisalos..
        </h2>
      </div>
      <div class="grid place-items-center w-full">
        <a routerLink="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="none"
            viewBox="0 0 22 22"
          >
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M4.5 3V1.25M8.5 3V1.25m4 1.75V1.25M1 11h15.51m.28-1.53v7.32A4.21 4.21 0 0 1 12.58 21H5.21C2.89 21 1 19.11 1 16.79V9.47a4.21 4.21 0 0 1 4.21-4.21h7.37c2.32 0 4.21 1.89 4.21 4.21ZM21 12.16c0 2.32-1.89 4.21-4.21 4.21V7.95A4.21 4.21 0 0 1 21 12.16Z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div
      class="w-full h-24 grid grid-cols-3 bg-gray-50 border-b-2 shadow-md shadow-[#e9defa] hover:bg-gray-100"
    >
      <div class="w-full grid place-content-center col-span-2 px-2 py-3">
        <h1 class="text-left text-gray-900 font-medium">Pagos</h1>
        <h2 class="text-left text-gray-700 text-sm">
          Aceptamos todas las tarjetas de credito
        </h2>
      </div>
      <div class="grid place-items-center w-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="1.5"
            d="M2 8.505h20m-16 8h2m2.5 0h4"
          />
          <path
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M6.44 3.505h11.11c3.56 0 4.45.88 4.45 4.39v8.21c0 3.51-.89 4.39-4.44 4.39H6.44c-3.55.01-4.44-.87-4.44-4.38v-8.22c0-3.51.89-4.39 4.44-4.39Z"
          />
        </svg>
      </div>
    </div>

    <div
      class="w-full h-24 grid grid-cols-3 sm:col-span-2 md:col-span-1 bg-gray-50 border-b-2 shadow-md shadow-[#e9defa] hover:bg-gray-100"
    >
      <div class="w-full grid place-content-center col-span-2 px-2 py-3">
        <h1 class="text-left text-gray-900 font-medium">Reservaciones</h1>
        <h2 class="text-left text-gray-700 text-sm">
          Recerva el establecimiento para tu reuniones
        </h2>
      </div>
      <div class="grid place-items-center w-full">
        <a routerLink="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M16.968 14.44c1.37.23 2.88-.01 3.94-.72 1.41-.94 1.41-2.48 0-3.42-1.07-.71-2.6-.95-3.97-.71m-9.94 4.85c-1.37.23-2.88-.01-3.94-.72-1.41-.94-1.41-2.48 0-3.42 1.07-.71 2.6-.95 3.97-.71m10.97-2.43a.605.605 0 0 0-.19 0 2.573 2.573 0 0 1-2.48-2.58c0-1.43 1.15-2.58 2.58-2.58a2.58 2.58 0 0 1 .09 5.16Zm-12.03 0c.06-.01.13-.01.19 0a2.573 2.573 0 0 0 2.48-2.58c0-1.43-1.15-2.58-2.58-2.58a2.58 2.58 0 0 0-2.58 2.58c.01 1.4 1.11 2.53 2.49 2.58Zm6.03 7.47a.605.605 0 0 0-.19 0 2.573 2.573 0 0 1-2.48-2.58c0-1.43 1.15-2.58 2.58-2.58a2.58 2.58 0 0 1 2.58 2.58c-.01 1.4-1.11 2.54-2.49 2.58Zm-2.91 3.15c-1.41.94-1.41 2.48 0 3.42 1.6 1.07 4.22 1.07 5.82 0 1.41-.94 1.41-2.48 0-3.42-1.59-1.06-4.22-1.06-5.82 0Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center pt-2 uppercase text-base font-bold text-slate-800">
  Reseñas
</h1>
<div
  class="w-full h-[22.5rem] relative px-4 py-4 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
>
  <div *ngFor="let item of resena">
    <div
      class="w-full h-80 bg-gray-50 rounded-br-xl shadow-md shadow-cyan-200 relative border-b-[16px] border-b-cyan-500"
    >
      <div class="px-6 py-4">
        <h1
          class="text-center font-semibold tracking-tighter text-gray-800 uppercase text-sm"
        >
          {{ item.nombre }}
        </h1>
        <div class="grid place-items-center py-2">
          <img
            src="{{ item.img }}"
            alt=""
            class="rounded-full h-24 w-24 object-cover object-center"
          />
        </div>
        <div>
          <h1 class="text-slate-800 text-sm text-justify">
            {{ item.descripcion }}
          </h1>
        </div>
        <div class="grid grid-cols-3 pt-4">
          <button mat-button class="mt-2 uppercase text-xs res col-span-2">
            <h1
              class="text-cyan-500 font-medium flex items-center content-center gap-1"
            >
              Ver mas reseñas
            </h1>
          </button>
          <div class="ml-10 mt-2 uppercase flex items-center content-center">
            <span class="material-symbols-outlined cursor-pointer">
              favorite
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

