
<div class=" grid place-content-center items-center grid-rows-5 text-center">
  <div class="w-full hover:bg-cyan-500 px-72 py-3 hover:text-white cursor-pointer">
    <h1 routerLink="/inicio"
      class="text-xs uppercase font-medium leading-snug ">Inicio</h1>
  </div>
  <div class="w-full hover:bg-cyan-500 px-72 py-3 hover:text-white cursor-pointer">
    <h1 routerLink="/inicio"
    class="text-xs uppercase font-medium leading-snug  ">buttons</h1>
  </div>
  <div class="w-full hover:bg-cyan-500 px-72 py-3 hover:text-white cursor-pointer">
    <h1 routerLink="/inicio"
    class="text-xs uppercase font-medium leading-snug  ">Figura 3d</h1>
  </div>
  <div class="w-full hover:bg-cyan-500 px-72 py-3 hover:text-white cursor-pointer">
    <h1 routerLink="/inicio"
    class="text-xs uppercase font-medium leading-snug">Register</h1>
  </div>
</div>


